body, html {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin: 0;
	font-size: 16px;
}
header {
	display: block;
	width: 100%;
}
.hero-image {
	background-image: url("images/banner.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height: 400px;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: grey;
}
li {
	float: left;
}
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 16px 18px;
	text-decoration: none;
}
li a:hover {
	background-color: rgb(128, 128, 128);
}

h1,h2 {
	margin: 1em;
	font-size: 2em;
}
h2 {
	font-size: 1.7em;
	color: #00529F;
}
main a {
	color: rgb(128, 128, 128);
	text-decoration: none;
}
main a:hover {
	color: rgb(128, 128, 128);
	text-decoration: underline;
}
p {
	margin: 1em;
	line-height: 1.4em;
	letter-spacing: 1px;
}
hr {
	margin: 1em;
	border: 1px dotted rgb(128, 128, 128);
	clear: both;
}
figure {
	padding: 0.5em;
	margin: 0 1em 0.5em 1em;
	float: left;
	width: 45%;
	border: 2px solid #FEBE10;
}
figcaption {
	font-size: 85%;
	
}
img {
	width: 100%;
}