body, html {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin: 0;
	font-size: 16px;
}
header {
	display: block;
	width: 100%;
}
.hero-image {
	background-image: url("images/banner.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height: 400px;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: grey;
}
li {
	float: left;
}
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 16px 18px;
	text-decoration: none;
}
li a:hover {
	background-color: #111;
}